
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root{
    /* --main-bg: rgb(176, 176, 199); */
    --btn: #ee6c4d;
    --title: #27344b;
    --hover-bg: #81c3d7;
    --gray-bg: #7e7a7a;
    --dark-blue: #293241;
    --light-blue: #e0fbfc;
    --mud-brown: #403d39;
}
*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Saira Condensed', sans-serif;
}

.mark{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Alfa Slab One', cursive;
    width: 80%;
    margin: auto;
}
.mark h1{
    letter-spacing: 3px;
    font-size: 48px;

}
.quick-btn{
    display: flex;
    /* flex-direction: column; */

}
.btn{
    background-color: var(--btn);
    padding: 12px 8px;
    text-transform: uppercase;
    border: none;
    margin: 10px;
    color: #fff;
}


.btn:hover{
    color: var(--btn);
    background-color: transparent;
    border: var(--btn) 2px solid;
    transition: all .28s ease-in-out;
}

.breadcrumbs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--title);
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    margin-top: 0;
    padding: 0 20px;
    
    
}
.bread{
    display: flex;
    list-style: none;
    align-items: center;
}
.breadcrumbs h1{
    color: var(--light-blue);
    letter-spacing: 3px;

}
.bread li{
    padding-right: 10px ;
    font-size: 1.3em;
    
    
}
.bread li a{
    color: var(--light-blue);
    text-decoration: none;
    
}

.bread li:nth-child(2)::before,
.bread li:nth-child(3)::before,
.bread li:nth-child(4)::before{
    content: '>';
    padding: 0 5px;
    margin: 0 8px;
    font-size: 1.3em;
    color: var(--btn);
}

/* Content */
.container-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
    margin: 60px auto 40px auto;
    
}
.container-content h1{
    font-size: 5em;
    letter-spacing: 3px;
    margin: 0;
}
.container-content h3{
    color: var(--btn);
    font-size: 1.5em;
    font-weight: normal;
}

.container-content p{
    font-size: 1.3em;
}

/* Form */
form {
    width: 80vw;
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    padding: 25px;
    letter-spacing: 2px;
    margin: 0 auto 50px auto;
    box-shadow: 5px 5px 12px rgba(0,0,0,.6);
    
}
form h1{
    color: var(--btn);
    font-size: 3em;
    display: block;
    margin: 10px auto;
}
.label{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-around;
    font-size: 1.3em;

}

input {
    padding: 8px;
    margin: 8px 12px;
    box-shadow: 6px 8px 12px #e3e3e3;
}
textarea{
    padding: 20px;
}

.radioLabel{
    display: flex;
    width: 100%;
    padding:  15px ;
    justify-content: flex-start;
    font-size: 1.3em;
}

.file{
    display: flex;
    width: 100%;
    padding:  15px ;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}
#file{
    box-shadow: none;
}
#submit{
    width: 50%;
    align-self: center;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--title);
    color: #fff;
    font-size: 1.3em;
    letter-spacing: 3px;
}


/* Footer */
footer {
    background-color: var(--mud-brown);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0 0 0;
}

.navlinks ul li {
    list-style-type: none;
}

.navlinks ul li a {
    text-decoration: none;
    color: azure;
    width: 100px;
    display:flex;
    margin-top: 15px;
    font-size: 22px;
}

.navlinks ul li a:hover {
    color: var(--hover-bg);
}

.donate {
    color: azure;
    width: 200px;
    font-size: 22px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;

}

.logo-footer{
    color: var(--light-blue);
    font-size: 30px;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.logo-footer h1{
    margin: 0;
}

.logo-talk {
    margin-left: 0px;
    margin-top: 0px;
}

.address {
    color: azure;
    font-size: medium;
    text-align: center;
}

.address a {
    text-decoration: none;
    color: #81c3d7;
}

.address a:hover {
    color: var(--light-blue);
}

.bottom-page {
    color: azure;
    background-color: var(--mud-brown);
    width: 100%;
    height: 50px;
    font-size: x-small;
    padding: 10px 0;
    text-align: center;

}

@media (max-width: 680px){
.bread h1{
    color: var(--light-blue);
    position: fixed;
    left: 50px;

}
@media(max-width: 740px){
    .mark{
        padding: 0;
        margin: 0;
       width: 100%;
    }
    .mark h1{
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
    .quick-btn{
        flex-direction: column;
    
    }


    /* Footer */
    .navlinks ul li a {
        font-size: 16px;
    }
    .donate {
        font-size: 16px;
    }
    .logo-footer{
        font-size: 18px;
    }
    .address {
        font-size: 14px;
    }

    .donate{
        display: none;
    }

}
}