@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root{
    /* --main-bg: rgb(176, 176, 199); */
    --btn: #ee6c4d;
    --title: #27344b;
    --hover-bg: #81c3d7;
    --gray-bg: #7e7a7a;
    --dark-blue: #293241;
    --light-blue: #e0fbfc;
    --mud-brown: #403d39;
}
*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Saira Condensed', sans-serif;
}

.header{
    position: relative;
    display: flex;
    justify-content: center;
   
}

.header img{
    height: 60vh;
    margin-top: 90px;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Saira Condensed', sans-serif;
   
}

.mark{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   font-family: 'Alfa Slab One', cursive;
}
.mark h1{
    letter-spacing: 3px;
    font-size: 48px;

}
.quick-btn{
    display: flex;
    /* flex-direction: column; */

}
.btn{
    background-color: var(--btn);
    padding: 12px 8px;
    text-transform: uppercase;
    border: none;
    margin: 10px;
    color: #fff;
}

.btn:hover{
    color: var(--btn);
    background-color: transparent;
    border: var(--btn) 2px solid;
    transition: all .28s ease-in-out;
}



.bread{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background-color: var(--title);
    width: 100%;
    height: 80px;
    position: fixed;
    /* top: 0;
    margin-top: 0; */
    padding-right: 15px;
 
}

.bread h1{
    color: var(--light-blue);
    position: fixed;
    left: 600px;
}
.bread li{
    padding-right: 10px ;
    font-size: 1.3em;
    
    
}
.bread li a{
    color: var(--light-blue);
    text-decoration: none;
    
}

.bread li:nth-child(3)::before,
.bread li:nth-child(4)::before{
    content: '>';
    padding: 0 5px;
    margin: 0 8px;
    font-size: 1.3em;
    color: var(--btn);
}


/* Slider */
.slider {
    margin-top: 50px;
    background-color: #27344b;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper {
    width: 75%;
    height: 95%;
    border: #7e7a7a 3px solid;
}

.swiper-slide img{
    width: 100%;
    height: 100%
}

.swiper-button{
    color: #7e7a7a
}
