@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root{
    /* --main-bg: rgb(176, 176, 199); */
    --btn: #ee6c4d;
    --title: #27344b;
    --hover-bg: #81c3d7;
    --gray-bg: #7e7a7a;
    --dark-blue: #293241;
    --light-blue: #e0fbfc;
    --mud-brown: #403d39;
    --banner: #f4d35e;
}
*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Saira Condensed', sans-serif;
}

.bread{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background-color: var(--title);
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    margin-top: 0;
    padding-right: 15px;
    z-index: 99;
 
}
.bread h1{
    color: var(--light-blue);
    position: fixed;
    left: 50px;

}
.bread li{
    padding-right: 10px ;
    font-size: 1.3em;
    
    
}
.bread li a{
    color: var(--light-blue);
    text-decoration: none;
    
}

.bread li:nth-child(3)::before,
.bread li:nth-child(4)::before{
    content: '>';
    padding: 0 5px;
    margin: 0 8px;
    font-size: 1.3em;
    color: var(--btn);
}

/* Cards content */
.content-container{
    position: relative;
    top: 90px;
    line-height: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.title-container{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.title-container img{
    width: 300px;
    
}

.text h1{
    
    font-size: 2.5em;
    width: 80%;
    letter-spacing: 5px;
    margin: auto;

    
    
}
.text p{
    font-size: 1.3em;
    width: 80%;
    margin: auto;
    text-align: justify;
  
    

}

.card-container{
width: 80%;
margin: 50px auto;

}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 15px;
    margin: 50px 0;
   
}
.date{
    background-color: var(--btn);
    width: 100%;
    margin: 20px;
    padding: 0 20px;
    font-size: 1.5em;
}
.date h3{
    margin: 0;
}
.userImg{
    display: flex;
    column-gap: 10px;
    overflow: hidden;
}
.userImg img{
    max-width: 400px;

}
.card-text{
    padding: 20px;
    text-align: justify;
}
.userName {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}
.description{
    font-size: 1.3em;
}