@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root{
    /* --main-bg: rgb(176, 176, 199); */
    --btn: #ee6c4d;
    --title: #27344b;
    --hover-bg: #81c3d7;
    --gray-bg: #7e7a7a;
    --dark-blue: #293241;
    --light-blue: #e0fbfc;
    --mud-brown: #403d39;
    --banner: #f4d35e;
}
*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Saira Condensed', sans-serif;
}

.mark{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Alfa Slab One', cursive;
    width: 80%;
    margin: auto;
}
.mark h1{
    letter-spacing: 3px;
    font-size: 48px;

}
.quick-btn{
    display: flex;
    /* flex-direction: column; */

}
.btn{
    background-color: var(--btn);
    padding: 12px 8px;
    text-transform: uppercase;
    border: none;
    margin: 10px;
    color: #fff;
}


.btn:hover{
    color: var(--btn);
    background-color: transparent;
    border: var(--btn) 2px solid;
    transition: all .28s ease-in-out;
}
.breadcrumbs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--title);
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    margin-top: 0;
    padding: 0 20px;
    
    
}
.bread{
    display: flex;
    list-style: none;
    align-items: center;
}
.breadcrumbs h1{
    color: var(--light-blue);
    letter-spacing: 3px;

}
.bread li{
    padding-right: 10px ;
    font-size: 1.3em;
    
    
}
.bread li a{
    color: var(--light-blue);
    text-decoration: none;
    
}

.bread li:nth-child(2)::before,
.bread li:nth-child(3)::before,
.bread li:nth-child(4)::before{
    content: '>';
    padding: 0 5px;
    margin: 0 8px;
    font-size: 1.3em;
    color: var(--btn);
}
/* Top Image */

.title-container{
    display: flex;
    column-gap: 50px;
    margin: 50px auto;
    width: 80%;
    
}
.title-container img{
    width: 300px;
}


/* Cards content */
.card-container{
    width: 100%;
    margin: auto;
    border-top: double var(--btn) 4px;
}
.card{
    width: 80%;
    margin: 50px auto;
}
.card-title{
    font-size: 3em;
    margin: 0;
    text-align: center;
    letter-spacing: 5px;
}
.card-title h1{
    margin: 0;
    padding: 0;
}
.author{
    display: flex;
    justify-content: space-evenly;
}

.short-caption p{
    text-align: justify;
    font-size: 18px;
}
.short-caption img{
    float: right;
    width: 50%;
    margin: 0px 0 20px 20px; 
}
.short-caption p span{
    font-size: 3em;
    float: left;
    line-height: 80%;
}
.full-story{
    display: none;
    text-align: justify;
    font-size: 18px;
}
.full-story img{
    float: right;
    width: 50%;
    margin: 20px 0 20px 20px;
}
#toggle{
    background-color: var(--btn);
    padding: 8px 12px;
    cursor: pointer;
    font-size: 1em;
    font-family: inherit;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 8px 8px 12px rgba(0,0,0,.6);
    
}

/* Footer */

footer {
    background-color: var(--mud-brown);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0 0 0;
}

.navlinks ul li {
    list-style-type: none;
}

.navlinks ul li a {
    text-decoration: none;
    color: azure;
    width: 100px;
    display:flex;
    margin-top: 15px;
    font-size: 22px;
}

.donate {
    color: azure;
    width: 200px;
    font-size: 22px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;

}

.logo-footer{
    color: var(--light-blue);
    font-size: 30px;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.logo-footer h1 {
   margin: 0;
}

.address {
    color: azure;
    font-size: medium;
    text-align: center;
}

.address a {
    text-decoration: none;
    color: #81c3d7;
}

.bottom-page {
    color: azure;
    background-color: var(--mud-brown);
    width: 100%;
    height: 50px;
    font-size: x-small;
    padding: 10px 0;
    text-align: center;

}