
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root{
    /* --main-bg: rgb(176, 176, 199); */
    --btn: #ee6c4d;
    --title: #27344b;
    --hover-bg: #81c3d7;
    --gray-bg: #7e7a7a;
    --dark-blue: #293241;
    --light-blue: #e0fbfc;
    --mud-brown: #403d39;
    --banner: #f4d35e;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Saira Condensed', sans-serif;
   
}
.mark{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Alfa Slab One', cursive;
    width: 80%;
    margin: auto;
}
.mark h1{
    letter-spacing: 3px;
    font-size: 48px;

}
.quick-btn{
    display: flex;
    /* flex-direction: column; */

}
.btn{
    background-color: var(--btn);
    padding: 12px 8px;
    text-transform: uppercase;
    border: none;
    margin: 10px;
    color: #fff;
}


.btn:hover{
    color: var(--btn);
    background-color: transparent;
    border: var(--btn) 2px solid;
    transition: all .28s ease-in-out;
}


#check, #menu, #cancel{
    display: none;
}
header{
    position: sticky;
    top: 0;
 
}
.navbar{
    background: var(--title);
    text-align: center;
}

.navbar ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.navbar ul li{
    margin: 12px;
    padding: 8px 12px;

    
}

.navbar ul li a{
    color: azure;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
}


.active, .navbar ul li:hover{
    background: var(--hover-bg);
    border-radius: 13px;

}

.navbar i{
    margin-right: 8px;
    color: azure;
}

/* to hide the submenu 1 */
.submenu-1{
    display: none;
}

/* to display submenu when hover */
.navbar ul li:hover .submenu-1{
    display: block;
    position: absolute;
    top: 30px;
    background: var(--title);
    box-shadow: 0 5px 15px rgba(0,0,0,.6);
    border-radius: 0 0 12px 12px;
    margin-top: 25px;
    margin-left: -15px;
    transition: all .3s ease;
}

.navbar ul li.active, 
.navbar ul li:hover .submenu-1 ul{
    display: block;
    margin: 10px;
    transition: all .3s ease;
}

.navbar ul li:hover .submenu-1 ul li{
    width: fit-content;
    padding: 10px;
    border-bottom: 2px solid azure;
    background: transparent;
    border-radius: 0;
    text-align: left;
    transition: all .3s ease-in-out;
}

/* to remove the border on the last submenu item */
.navbar ul li:hover .submenu-1 ul li:last-child{
    border-bottom: none;
}

/* effect when hover over submenu */

.navbar ul li:hover .submenu-1 ul li a:hover{
    color: var(--hover-bg);
   
}
/* sub-submenu */
.submenu-1 .sub-submenu {
    display: none;
}
.navbar ul li:hover .submenu-1 .sub-submenu{
    display: block;
    position: relative;
    top: 0px;
    left: 10px;
    background: transparent;
    box-shadow: none;
    border-radius: 0 0 12px 12px;
    margin-top: 0px;
    margin-left: 0px;
    transition: all .3s ease;
}
.sub-submenu ul li{
    border: none;
}

/* Showcase */
.showcase{
    
    width: 80%;
    margin: 30px auto;

}
.showcase-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;

}
.imgShowcase{
    display: flex;
    align-items: center;
    
}
.imgShowcase img{
    max-width: 500px;
}
.imgShowcase h2{
    width: 500px;
    font-size: 70px;
    background-color: var(--banner);
    padding: 20px;
    text-align: center;
}

/* Vision */
.vision{
    width: 100vw;
    background-color: var(--hover-bg);
    padding: 50px;
    
}
.vision h3{
    font-size: 1.6em;
    width: 80%;
    margin: auto;
    text-transform: uppercase;
}
/* Section 1  */

.sec1{
    display: flex;
    column-gap: 50px;
}
.quick-links{
    background-color: var(--banner);
    padding: 15px 25px;
    line-height: 2;
    box-shadow: 8px 8px 12px rgba(0,0,0,.6);
}
.quick-links h1{
    font-size: 2.5em;
    letter-spacing: 5px;
    text-align: center;
}
.quick-links p{
    font-size: 1.3em;
    text-align: justify;
}
.links{
   background-color: var(--mud-brown);
   color: var(--light-blue);
   text-align: center;
   margin: 20px 0;
   cursor: pointer;
   border-radius: 15px;
}
.links a{
    font-size: .8em;
    text-decoration: none;
    color: var(--light-blue);
}
/* Videos */

.sec-video{
    display: flex;
    justify-content: space-around;
}
/* sections 2 */


section{
    width: 80%;
    margin: 80px auto;
}
.sec2{
    margin: 100px auto;
    border-top: dotted 5px var(--btn);
}
.sec2 h1{
    font-size: 3em;
    letter-spacing: 5px;
    text-align: center;
}
.content-container{
    display: flex;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.content-container img{
    box-shadow: 8px 8px 12px rgba(0,0,0,.6);
    max-width: 300px;
}
.text-content{
    padding: 20px;
    font-size: 1.3em;
   background-color: var(--light-blue);
   line-height: 2;
   
}

/* Footer */

footer {
    background-color: var(--mud-brown);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

.navlinks ul li {
    list-style-type: none;
}

.navlinks ul li a {
    text-decoration: none;
    color: azure;
    width: 100px;
    display:flex;
    margin-top: 15px;
    font-size: 22px;
}

.donate {
    color: azure;
    width: 200px;
    font-size: 22px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;

}

.logo-footer{
    color: var(--light-blue);
    font-size: 30px;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.logo-footer h1 {
   margin: 0;
}

.address {
    color: azure;
    font-size: medium;
    text-align: center;
}

.address a {
    text-decoration: none;
    color: #81c3d7;
}

.bottom-page {
    color: azure;
    background-color: var(--mud-brown);
    width: 100%;
    height: 50px;
    font-size: x-small;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;

}

/* Media Queries */

@media(max-width: 740px){
    .quick-btn{
        flex-direction: column;
    
    }
    .navbar ul li:hover .submenu-1{
       
        top: 60px;
        background: var(--title);
        box-shadow: 0 5px 15px rgba(0,0,0,.6);
        margin-top: 25px;
        margin-left: 0;
        transition: all .6s ease-in-out;
    }

}
@media (max-width: 680px){
    .mark{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
       line-height: 2; 
       position: sticky;
       top: 0;
       
    }
    .mark h1{
        font-size: 35px;
    }
   
    .btn{
        display: none;
    }
   
    nav{
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0;
        transition: all .6s ease-in-out;
    }
    #menu, #cancel{
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
        color: var(--light-blue);
        font-size: 1.3em;
        transition: all .6s ease-in-out;
        
    }
    
    #menu{
        opacity: 0;
        
    }

    #check:checked ~ label #menu{
        opacity: 1;
        color: black;
        
    }
    #check:checked ~ label #cancel{
        opacity: 0;
       
    }
    #check:checked ~ .navbar ul li{
        display: none;
    }

    .navbar ul{
        flex-direction: column; 

    }
    .active, .navbar ul li:hover{
        border-radius: 0px;
         transition: all .6s ease-in-out;
    
    }
    .navbar ul li:hover .submenu-1{
        display: initial;
        position: static;
        top: 30px;
        background: var(--title);
        box-shadow: 0 5px 15px rgba(0,0,0,.6);
        margin-top: 25px;
        margin-left: auto;
        transition: all .6s ease-in-out;
        
    }

    .navbar ul li:hover .submenu-1 ul li{
        width: 100%;
        padding: 10px;
        margin: auto;
        background: var(--gray-bg);
        border-radius: 0;
        text-align: left;
        cursor: pointer;
        border-bottom: none;
        transition: all .6s ease;
        
    }
    .navbar ul li:hover .submenu-1 ul li a:hover{
        border-bottom: 1px solid azure;
        color: var(--hover-bg);
        transition: all .6s ease;

       
    }

    .navbar ul li:hover .submenu-1 .sub-submenu li{
        text-align: left;
        margin-right: 10px;
        /* border: red solid 2px; */
        
    }
}


@media (max-width: 320px){
    .mark h1{
        font-size: 28px;
    }
}